# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

jobs:
- job: osx
  pool:
    vmImage: macOS-11
  strategy:
    matrix:
      osx_64_c_compiler_version11cxx_compiler_version11:
        CONFIG: osx_64_c_compiler_version11cxx_compiler_version11
        UPLOAD_PACKAGES: 'True'
      osx_64_c_compiler_version12cxx_compiler_version12:
        CONFIG: osx_64_c_compiler_version12cxx_compiler_version12
        UPLOAD_PACKAGES: 'True'
      osx_64_c_compiler_version13cxx_compiler_version13:
        CONFIG: osx_64_c_compiler_version13cxx_compiler_version13
        UPLOAD_PACKAGES: 'True'
      osx_64_c_compiler_version14cxx_compiler_version14:
        CONFIG: osx_64_c_compiler_version14cxx_compiler_version14
        UPLOAD_PACKAGES: 'True'
      osx_64_c_compiler_version15cxx_compiler_version15:
        CONFIG: osx_64_c_compiler_version15cxx_compiler_version15
        UPLOAD_PACKAGES: 'True'
      osx_64_c_compiler_version16cxx_compiler_version16:
        CONFIG: osx_64_c_compiler_version16cxx_compiler_version16
        UPLOAD_PACKAGES: 'True'
  timeoutInMinutes: 360

  steps:
  # TODO: Fast finish on azure pipelines?
  - script: |
      export CI=azure
      export OSX_FORCE_SDK_DOWNLOAD="1"
      export GIT_BRANCH=$BUILD_SOURCEBRANCHNAME
      export FEEDSTOCK_NAME=$(basename ${BUILD_REPOSITORY_NAME})
      if [[ "${BUILD_REASON:-}" == "PullRequest" ]]; then
        export IS_PR_BUILD="True"
      else
        export IS_PR_BUILD="False"
      fi
      ./.scripts/run_osx_build.sh
    displayName: Run OSX build
    env:
      BINSTAR_TOKEN: $(BINSTAR_TOKEN)
      FEEDSTOCK_TOKEN: $(FEEDSTOCK_TOKEN)
      STAGING_BINSTAR_TOKEN: $(STAGING_BINSTAR_TOKEN)